@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    background-color: white;
    color: #333;
}

main{
    padding: min(30px, 7%);
}

main p{
    color:#333;
    margin-top: 5px;
    margin-bottom: 15px;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px;
    background-color: #2c3e50;
    position: sticky;
    top: 0;
    align-self: start;
    transition: 350ms ease-in-out;
    text-wrap: nowrap;
}

#sidebar.close{
    padding: 5px;
    width: 58px;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar ul {
    list-style: none;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    color:#ddd;

    .logo {
        font-weight: 600;   
    }
}

#sidebar ul li.active a{
    color: #00b9fe;

    svg{
        fill: #00b9fe;
    }
}

#sidebar a, #sidebar.logo{
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: #ddd;
    display: flex;
    align-items: center;
    gap: 1em;
    text-wrap: wrap;
}

#sidebar svg{
    flex-shrink: 0;
    fill: #ddd;
}

#sidebar a span{
    flex-grow: 1;
}

#sidebar a:hover{
    border: none;
    border-radius: .5em;
    background-color: #3c556e;
}

.rotate svg:last-child{
    rotate: -180deg;
}

#sidebar a span {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 200ms ease;
}

#sidebar.close a span {
  opacity: 0;  /* hide text when collapsed */;
  text-wrap: nowrap;
}

#sidebar:not(.close) a span {
  transition-delay: 100ms;
  text-wrap: nowrap;
}

#sidebar.close .logo{
    opacity: 0;
    transition: opacity 200ms ease;
    text-wrap: nowrap;
}


#toggle-btn{
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg{
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color:#3c556e;
}

.leftsection{
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c3e50;
    height: 100%;
    color: white;
}

.leftsection h1 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.leftsection p {
    margin: 6px 0;
}

.leftsection a{
    color: #ddd;
    text-align: left;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16pt;
    transition: color 0.3s ease;
}

.leftsection a:hover{
    color: #00b9fe;
}

.rightsection{
    padding: 40px;
    box-sizing: border-box;
    background-color: #f9f9fb;
    height:100%;
    text-align: left;
    justify-content: center;
}

.rightsection img {
    display: block;
    margin: 0 auto;
    max-width: 600px; 
    max-height: 600px;
}

.rightsection h1 {
    text-align: center;
}

.rightsection h2 {
    text-align: center;
}

.gallery {
    display: flex;           
    flex-wrap: wrap;         
    gap: 20px;               
    justify-content: center; 
    margin-top: 20px;
    
}

.gallery a {
    display: block;
    border: 2px solid #ccc; 
    border-radius: 8px;     
    overflow: hidden;        
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #fff;
}

.gallery a:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.gallery img {
    width: 300px; 
    height: 300px;
    object-fit: contain;
    display: flex;
}

.gallery figure {
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    width: 300px; /* same width for all */
    margin: 0;
    
}

.gallery figcaption {
    margin-top: 8px;  /* space below box */
    text-align: center;
    font-size: 0.9rem;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2c3e50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16pt;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#stl_container {
    height: 400px;
    width: 500px;
}

.hanging-indent {
    padding-left: 2em; 
    text-indent: -2em;
}